*{padding: 0;margin: 0;}
.container{ 
    block-size: 100vh;
    inline-size: 100vw;
    color: #444;
    background:#ffe7e3 ;
    text-align: center;
}

.Love, .yes, .no{
    padding-block-start: 15%;
}

h2{font-size: 72px; margin-block-end: 30px;}
.Love span{color: #e63d1f;}
.Love a{text-decoration: none;
        background: #eee;
        padding: 5px;
        margin: 5px 10px;
        border: 3px solid #ddd;
        border-radius: 10px;
}
#no{color: red;}
#yes{color: green;}

img{block-size: 40px; inline-size: 40px;
    animation: heart 4s linear infinite ;}

    @keyframes heart{
        0% {transform: scale(.5);}
        50% {transform: scale(1.2);}
        100% {transform: scale(.5);}
    }

